In [1]:
# Import important library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Q1 Read the input file and check the data dimension

In [2]:
#Read input file and understand the data
# "default" is my dependent variable
df_credit=pd.read_csv('german_credit.csv')

In [3]:
df_credit.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [4]:
# Lets build a Ensemble model but need to modify the dataset first
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null object
duration_in_month             1000 non-null int64
credit_history                1000 non-null object
purpose                       1000 non-null object
credit_amount                 1000 non-null int64
savings                       1000 non-null object
present_emp_since             1000 non-null object
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null object
other_debtors                 1000 non-null object
present_res_since             1000 non-null int64
property                      1000 non-null object
age                           1000 non-null int64
other_installment_plans       1000 non-null object
housing                       1000 non-null object
credits_this_bank             1000 non-null int64
job                           1000 non-null object
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null object
foreign_worker                1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [5]:
# Print Shape of model data
df_credit.shape

(1000, 21)

In [6]:
df_credit_mod=pd.get_dummies(data=df_credit,drop_first=True)

In [7]:
df_credit_mod.head()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance,account_check_status_< 0 DM,account_check_status_>= 200 DM / salary assignments for at least 1 year,...,property_unknown / no property,other_installment_plans_none,other_installment_plans_stores,housing_own,housing_rent,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,"telephone_yes, registered under the customers name",foreign_worker_yes
0,0,6,1169,4,4,67,2,1,1,0,...,0,1,0,1,0,1,0,0,1,1
1,1,48,5951,2,2,22,1,1,0,0,...,0,1,0,1,0,1,0,0,0,1
2,0,12,2096,2,3,49,1,2,0,0,...,0,1,0,1,0,0,0,1,0,1
3,0,42,7882,2,4,45,1,2,1,0,...,0,1,0,0,0,1,0,0,0,1
4,1,24,4870,3,4,53,2,2,1,0,...,1,1,0,0,0,1,0,0,0,1

### Check for highly correlated variables but don't required any treatment for this use case

In [8]:
df_credit.corr()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance
default,1.000000,0.214927,0.154739,0.072404,0.002967,-0.091127,-0.045732,-0.003015
duration_in_month,0.214927,1.000000,0.624984,0.074749,0.034067,-0.036136,-0.011284,-0.023834
credit_amount,0.154739,0.624984,1.000000,-0.271316,0.028926,0.032716,0.020795,0.017142
installment_as_income_perc,0.072404,0.074749,-0.271316,1.000000,0.049302,0.058266,0.021669,-0.071207
present_res_since,0.002967,0.034067,0.028926,0.049302,1.000000,0.266419,0.089625,0.042643
age,-0.091127,-0.036136,0.032716,0.058266,0.266419,1.000000,0.149254,0.118201
credits_this_bank,-0.045732,-0.011284,0.020795,0.021669,0.089625,0.149254,1.000000,0.109667
people_under_maintenance,-0.003015,-0.023834,0.017142,-0.071207,0.042643,0.118201,0.109667,1.000000

From above ,duration in month and credit_amount are highly correlated

### Drop the original variables which are converted to dummy

Dropped the categorical columns and the first columns in get_dummies with drop_first = True

In [11]:
df_credit['other_installment_plans'].value_counts()

none      814
bank      139
stores     47
Name: other_installment_plans, dtype: int64

In [15]:
df_credit_mod[['housing_own','housing_rent']].head()

   housing_own  housing_rent
0            1             0
1            1             0
2            1             0
3            0             0
4            0             0

In the above code , the hosuing categorical value has been converted to housing_own,housing_rent and housing_store and housing_rent was dropped indicating when the former 2 are  the latter is 1

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [16]:
Y=df_credit_mod['default']
df_credit_mod=df_credit_mod.drop('default',axis=1)

In [24]:
df_credit_mod.shape

(1000, 48)

In [25]:
X=np.array(df_credit_mod)

In [26]:
from sklearn.model_selection import train_test_split
# taking 70:30 training and test set
test_size = 0.30
# Random numbmer seeding for reapeatability of the code
seed = 7  
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [27]:
from sklearn.ensemble import RandomForestClassifier
rfcl = RandomForestClassifier(n_estimators=500,criterion="entropy",n_jobs=2,random_state=9999)
rfcl = rfcl.fit(X_train, y_train)

In [28]:
test_pred = rfcl.predict(X_test)
rfcl.score(X_test , y_test)

0.79

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [29]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,test_pred)

0.79

In [30]:
confusion_matrix(y_test,test_pred)

array([[202,  15],
       [ 48,  35]], dtype=int64)

### Q6 Show the list of the features importance( 1 Marks)

In [31]:
print (pd.DataFrame(rfcl.feature_importances_, columns = ["Imp"], index = df_credit_mod.columns))

                                                         Imp
duration_in_month                                   0.086272
credit_amount                                       0.116171
installment_as_income_perc                          0.041192
present_res_since                                   0.039835
age                                                 0.091958
credits_this_bank                                   0.020832
people_under_maintenance                            0.016292
account_check_status_< 0 DM                         0.034739
account_check_status_>= 200 DM / salary assignm...  0.010112
account_check_status_no checking account            0.056920
credit_history_critical account/ other credits ...  0.020335
credit_history_delay in paying off in the past      0.010089
credit_history_existing credits paid back duly ...  0.016202
credit_history_no credits taken/ all credits pa...  0.009035
purpose_business                                    0.011797
purpose_car (new)                                   0.018915
purpose_car (used)                                  0.011905
purpose_domestic appliances                         0.017013
purpose_education                                   0.004442
purpose_furniture/equipment                         0.002108
purpose_radio/television                            0.015028
purpose_repairs                                     0.002574
purpose_retraining                                  0.000823
savings_... < 100 DM                                0.020929
savings_100 <= ... < 500 DM                         0.010425
savings_500 <= ... < 1000 DM                        0.007235
savings_unknown/ no savings account                 0.014891
present_emp_since_... < 1 year                      0.018059
present_emp_since_1 <= ... < 4 years                0.017687
present_emp_since_4 <= ... < 7 years                0.014933
present_emp_since_unemployed                        0.010313
personal_status_sex_male : divorced/separated       0.007864
personal_status_sex_male : married/widowed          0.010474
personal_status_sex_male : single                   0.020952
other_debtors_guarantor                             0.008296
other_debtors_none                                  0.012030
property_if not A121/A122 : car or other, not i...  0.017704
property_real estate                                0.017509
property_unknown / no property                      0.017135
other_installment_plans_none                        0.021859
other_installment_plans_stores                      0.006973
housing_own                                         0.016522
housing_rent                                        0.012242
job_skilled employee / official                     0.019635
job_unemployed/ unskilled - non-resident            0.004176
job_unskilled - resident                            0.013799
telephone_yes, registered under the customers n...  0.019920
foreign_worker_yes                                  0.003851

As Shown the most important feature is credit_amount

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [32]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [33]:
# Use below values
num_folds = 10
seed = 77

In [34]:
kfold = KFold(n_splits=num_folds, random_state=seed)

In [35]:
#Validate the Random Forest model build above using k fold

In [36]:
rfcl = RandomForestClassifier(n_estimators=500,criterion="entropy",n_jobs=2,random_state=9999)

In [48]:
X=np.array(df_credit_mod)
Y=df_credit['default']

In [49]:
print(cross_val_score(rfcl, X, Y, cv=kfold))

[0.87 0.67 0.79 0.81 0.81 0.68 0.75 0.78 0.75 0.76]

In [ ]:
#Calculate Mean score

In [50]:
results = cross_val_score(rfcl, X, Y, scoring='neg_mean_squared_error', cv=kfold)
print("Mean Square Error: %.3f" % (-results.mean()))

Mean Square Error: 0.233

In [51]:
# Calculate score standard deviation using std()

In [52]:
results.std()

0.05710516614107694

# Q8 Print the confusion matrix( 1 Marks)

In [76]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
y_pred = cross_val_predict(rfcl, X, Y, cv=kfold)

In [81]:
confusion_matrix(Y,y_pred)

array([[649,  51],
       [182, 118]], dtype=int64)

In [82]:
confusion=confusion_matrix(Y,y_pred)

In [83]:
#[row, column]
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
(2 Marks)

In [92]:
print((TP + TN) / float(TP + TN + FP + FN))
print(accuracy_score(Y, y_pred))

0.767
0.767

In [93]:
#recall=tp / (tp + fn)
sensitivity = TP / float(FN + TP)
print(sensitivity)
print(recall_score(Y, y_pred))

0.3933333333333333
0.3933333333333333

In [94]:
#precision=tp / (tp + fp)
precision = TP / float(TP + FP)
print(precision)
print(precision_score(Y, y_pred))

0.6982248520710059
0.6982248520710059

[link text](https://)### Bootstrapping ( Bonus and Optional)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models

In [ ]:
# Number of iterations for bootstrapping
bootstrap_iteration = 10
accuracy = []

In [ ]:
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

for i in range(bootstrap_iteration):
    X_, y_ = resample(X_train, y_train)
    rfm.fit(X_, y_)
    y_pred = rfm.predict(X_test)
    
    acc = accuracy_score(y_pred, y_test)
    accuracy.append(acc)

In [ ]:
accuracy = np.array(accuracy)
print('Accuracy Score')
print('Avearge: ', accuracy.mean())
print('Standard deviation: ', accuracy.std())